.Person {
    width: 60%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0px 2px 3px #ccc;
    padding: 16px;
    text-align: center;

}

@media (min-width:500px){
    .Person
    {width: '450px'}
}

.Button
{background-color:cornflowerblue;
color:white;
font:inherit;
border:1px solid blue;
padding:8px;
cursor:pointer;}
Button:hover{
    background-color:lightskyblue;
    color:black;
  }